In [1]:
var1 = 10
var2 = 3.3

print('Data type of var1 is : ', type(var1))
print('Data type of var2 is : ', type(var2))

Data type of var1 is :  <class 'int'>
Data type of var2 is :  <class 'float'>

In [2]:
real = 34
imaginary = 4

complex_number = complex(real, imaginary)

print(complex_number)

(34+4j)

In [3]:
print(type(complex_number))

<class 'complex'>

In [1]:
a=['f', 'f', 4]

In [3]:
list1 =[1, 2, 3, 4, 5, 6 ,7  ,8, 9 ,10]

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list2 = [1, 2, 3, 'a', 'b', 'c', 2.2, 3.3, 4.4]

print(list2)

[1, 2, 3, 'a', 'b', 'c', 2.2, 3.3, 4.4]

In [8]:
list3 =[]

a =2
b =3
c ='A'

list3.append(a)
list3.append(b)
list3.append(c)

print(list3)

[2, 3, 'A']

In [9]:
list4 =[]

for i in range(10):
    list4.append(i)
    
print(list4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list5 = [[1,2,3,4], ['', 'b', 'c'], [2.2, 3.3, 4.4]]

print(list5)

[[1, 2, 3, 4], ['', 'b', 'c'], [2.2, 3.3, 4.4]]

In [23]:
list6=[]

for i in range(1, 5):
    list7 = []
    for j in range(i):
        list7.append(j)
    list6.append(list7)
                   
print(list6)

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3]]

In [24]:
tup1 =()

print(type(tup1))

<class 'tuple'>

In [34]:
tup1 = ()

tup1 = tup1 + (1,)
tup1= tup1 +(2,)
tup1 =tup1 + (3,)

print(tup1)

(1, 2, 3)

In [36]:
tup2 = ()

for i in range(1, 5):
    tup3 = ()
    for j in range(i):
        tup3 = tup3 + (j,)
    tup2 = tup2 + (tup3,)

print(tup2)

((0,), (0, 1), (0, 1, 2), (0, 1, 2, 3))

In [38]:
dict1 = {}

print(type(dict1))

<class 'dict'>

In [43]:
dict1 = {'A' :{'a':1, 'b':2}, "B" : {'c':3, 'd':4}}

print(dict1)

{'A': {'a': 1, 'b': 2}, 'B': {'c': 3, 'd': 4}}

In [47]:
dict1 = {'A' :{'a':1, 'b':2}, "B" : {'c':3, 'd':4}}

print(dict1.values())

dict_values([{'a': 1, 'b': 2}, {'c': 3, 'd': 4}])

In [48]:
a = False
b = True

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [50]:
a = 10
b =19

print(a==b)

False

In [52]:
set1 = set([1,2,3,4,5,6,7])

print(set1)

<class 'set'>