In [2]:
# import pandas
import pandas as pd  
  
# creating empty dataframe
df = pd.DataFrame()  
  
# printing the dataframe
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
# initialize data points
data_points = [1, 2, 4, 5, 3, 6, 7]
  
# initializing dataframe and giving the column name
df = pd.DataFrame(data_points, columns=['values'])
  
print(df)

   values
0       1
1       2
2       4
3       5
4       3
5       6
6       7

In [6]:
# printing the type 
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
# for loop to print numbers
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
# creating a list for the rows
rows = []

# using for loop to append values in rows
for i in range(10):
    
    #appending the values to the row
     rows.append(i)
        
# converting the list into dataframe
df = pd.DataFrame(rows, columns=["column_1"])
print(df)

   column_1
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9

In [12]:
# creating a list for the rows
rows = []

# using for loop to append values in rows
for i in range(10):
    
    #appending the values to the row
     rows.append([i+1, i + 1, i])
        
# converting the list into dataframe
df = pd.DataFrame(rows, columns=["column_1", "column_2", "column_3"])
print(df)

   column_1  column_2  column_3
0         1         1         0
1         2         2         1
2         3         3         2
3         4         4         3
4         5         5         4
5         6         6         5
6         7         7         6
7         8         8         7
8         9         9         8
9        10        10         9

In [17]:
# list comprehension method
L = [[i, i*i] for i in range(10)]
 
# converting the list into dataframe
df = pd.DataFrame(L, columns=["column_1", "column_2"])
print(df)

   column_1  column_2
0         0         0
1         1         1
2         2         4
3         3         9
4         4        16
5         5        25
6         6        36
7         7        49
8         8        64
9         9        81

In [30]:
# creating a dataframe 
df = pd.DataFrame(columns=["Column_1", "column_2", "column_3"])

# using for loop to iterate
for i in range(3):
    column = df.columns[i]
    df[column] = [i*i, i+1, i]
    
# printing
print(df)

   Column_1  column_2  column_3
0         0         1         4
1         1         2         3
2         0         1         2